{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}

    <ul>
        <h3>The following objects as well as their related objects will be deleted. Are you sure?</h3>
        {% for item in object %}
            <input type="hidden" value="{{ item.id }}" name="leadsToDelete" />
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <input type="submit" class="btn btn-primary" value="Confirm deletion" name="confirm_delete" />
    <input type="submit" class="btn btn-primary" value="Cancel" name="cancel"/>
</form>
{% endblock %}
