{% extends 'base.html' %}
{% load static %}

{% block ext_js %}
    <script type="text/javascript" src="{% static 'js/lead-form.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="section ">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 ">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'leads-list' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'leads-list' %}">Tour Leads</a>
                        </li>
                        <li class="active ">Add Lead</li>
                    </ul>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12 ">
                    <form class="form-horizontal " role="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group ">
                            <div class="col-sm-10">
                                {{ form.errors }}
                            </div>
                        </div>

                        {% for field in form %}
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="id_{{ field.name}}" class="control-label ">{{field.label}}</label>
                                </div>
                                <div class="col-sm-10">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}


                        <div class="form-group ">
                            <div class="col-sm-2 ">
                                <label for="languages " class="control-label ">Languages</label>
                            </div>
                            <div class="col-sm-10">
                                <div id="languages">
                                    {{ formset.management_form }}
                                    {% for langForm in formset %}
                                        <div class="formset-languages" data-id="{{ forloop.counter0 }}">
                                            {{ langForm }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                         <div class="form-group ">
                            <div class="col-sm-offset-2 col-sm-10 ">
                                <button type="submit" class="btn btn-default ">
                                    <i class="fa fa-save fa-fw "></i>Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div id="formset-template" style="display: none;">
        <div class="formset-languages" data-id="__prefix__">
            {{ formset.empty_form }}
        </div>
    </div>

{% endblock content %}
